/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    
}
/* header title */

.main-title{
    color: darkmagenta;
    text-align: center;
}

.main-title h1{
    margin-bottom: 30px;
}

/* main */

.container{
    max-width: 70%;
    margin: 0 auto;
}

.container-paragraph p{
    text-align: center;
    border: solid red 1px;
    margin-bottom: 30px;
}
