/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li menu{
    list-style: none;
}

a{
    text-decoration: none;
}


/* header title */

.main-title{
    color: darkmagenta;
    text-align: center;
}

.main-title h1{
    margin-bottom: 30px;
}

/* main */

.container{
    max-width: 70%;
    margin: 0 auto;
}

.container-paragraph p{
    text-align: center;
    border: solid red 1px;
    margin-bottom: 30px;
}

.card{
    background-color: aqua;
}

.col{
   float: left;
   width: calc(100% / 3);
   padding: 0px 15px;
   margin-bottom: 30px;
   
}
 img{
    float: left;
    margin-right: 15px;
    max-width: 100%
 }

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.row{
    margin: 0px -15px;
}